{% extends 'account/base.html' %} {% load static %} {% block title %} Account Address{%endblock%} {% block content %}
<div class="col-lg-9 col-md-8 col-12">
  <div class="py-6 p-md-6 p-lg-10">
    <div class="d-flex justify-content-between mb-6">
      <!-- heading -->
      <h2 class="mb-0">Address</h2>
      <!-- button -->
      <a
        href="{% url "accounts:add_address" %}"
        class="btn btn-outline-primary"
        {% comment %} data-bs-toggle="modal" {% endcomment %}
        {% comment %} data-bs-target="#addAddressModal" {% endcomment %}
        >Add a new address
      </a>
    </div>
    <div class="row">
      <!-- col -->
      {% for address in addresses %}
<div class="col-lg-5 col-xxl-4 col-12 mb-4">
  <div class="card">
    <div class="card-body p-6">
      <div class="form-check mb-4">
        <input
          class="form-check-input"
          type="radio"
          name="defaultAddress"
          {% if address.is_default %}checked{% endif %}
          onclick="window.location.href='{% url 'accounts:set_default_address' address.id %}'"
        />
        <label class="form-check-label text-dark fw-semi-bold">
          {{ address.first_name }} {{ address.last_name }}
        </label>
      </div>
      <p class="mb-6">
        {% comment %} {{ address.first_name }} {{ address.last_name }}<br> {% endcomment %}
        {{ address.address1 }}<br>
        {{ address.address2 }}<br>
        {{ address.city }}<br>
        {{ address.zip_code }}
      </p>
      {% if address.is_default %}
  <a href="#" class="btn btn-info btn-sm disabled">Default address</a>
{% else %}
  <a href="{% url 'accounts:set_default_address' address.id %}" class="btn btn-outline-primary btn-sm">
    Set as Default
  </a>
{% endif %}
      <div class="mt-4">
        <a href="{% url 'accounts:edit_address' address.id %}" class="text-inherit">Edit</a>
        <a
          href="#"
          class="text-danger ms-3"
          data-bs-toggle="modal"
          data-bs-target="#deleteModal{{ address.id }}"
          >Delete
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal{{ address.id }}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'accounts:delete_address' address.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">Confirm Deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this address?
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}

      
    </div>
  </div>
</div>


{% endblock content %}
