{% load static %}
<style>
  @media (max-width: 767px) {
    .footer-wrapper,
    .footer-bottom .copyright,
    .footer-bottom-link {
      text-align: center !important;
      padding-left: 0 !important;
    }

    .footer-icon a {
      margin: 0 5px;
    }

    .footer-bottom-link {
      margin-top: 10px;
    }

    /* Align contact icons and text vertically on mobile */
    .contact-link li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 15px;
    }

    .contact-address-icon {
      margin-bottom: 8px;
    }
  }
</style>


<!-- footer-area-start -->
        <footer>
            <div class="footer-area footer-border pt-90">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{% static "img/logo/athma_logo.png" %}" alt="" style="width: 90px;"></a>
                                </div>
                                <div class="footer-text">
                                    <p>At Athma Productions, we turn ideas into stunning visuals — from videos to branding. Let’s bring your vision to life.</p>
                                </div>
                                <div class="footer-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper pl-60 mb-30">
                                <div class="footer-title">
                                    <h4>Athma Production</h4>
                                </div>
                                <ul class="fotter-menu">
                                    <li><a href="{% url "core:digital_academy" %}">Athma Digital Academy</a></li>
                                    <li><a href="{% url "core:design_agency" %}">Athma Design Agency</a></li>
                                    <li><a href="{% url "core:creation" %}">Athma Creations</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper pl-60 mb-30">
                                <div class="footer-title">
                                    <h4>Our Pages</h4>
                                </div>
                                <ul class="fotter-menu">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Athma Production</a></li>
                                    <li><a href="#">Our Works</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper pl-55 mb-30">
                                <div class="footer-title">
                                    <h4>Contact Us</h4>
                                </div>
                                <ul class="contact-link">
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="far fa-map-marked"></i>
                                        </div>
                                        <div class="contact-address-text">
                                            <h4>Address</h4>
                                            <p>Kochi, Tirur</p>
                                            
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="far fa-phone"></i>
                                        </div>
                                        <div class="contact-address-text">
                                            <h4>phone Us</h4>
                                            <p>+91 91889 17727</p>
                                            <p>+91 91889 17729</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="far fa-envelope"></i>
                                        </div>
                                        <div class="contact-address-text">
                                            <h4>Email Us</h4>
                                            <p><a href="https://www.devsnews.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fa898f8a8a95888eba9d979b9396d4999597">athmaproduction@gmail.com</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom pt-20 pb-20 mt-55">
  <div class="row">
    <div class="col-12 text-center">
      <div class="copyright">
        <p>
          Copyright <i class="far fa-copyright"></i>
          <a href="#">Athma Production.</a> All Right Reserved.
        </p>
      </div>
    </div>
  </div>
</div>

                </div>
            </div>
        </footer>
        <!-- footer-area-end -->