{% load static %}

<!-- footer-area-start -->
        <footer>
            <div class="footer-area footer-border pt-90">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{% static "img/logo/athma_logo.png" %}" alt="" style="width: 90px;"></a>
                                </div>
                                <div class="footer-text">
                                    <p>Lorem ipsum dolor amet consectetur adipisicing elit sed do eiusmod ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostru</p>
                                </div>
                                <div class="footer-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper pl-60 mb-30">
                                <div class="footer-title">
                                    <h4>Our Services</h4>
                                </div>
                                <ul class="fotter-menu">
                                    <li><a href="#">Movie & Flim Production</a></li>
                                    <li><a href="#">Photography</a></li>
                                    <li><a href="#">Idea Generator & Direction</a></li>
                                    <li><a href="#">Video Graphy</a></li>
                                    <li><a href="#">Visual Effects</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper pl-40 mb-30">
                                <div class="footer-title">
                                    <h4>Our Gallery</h4>
                                </div>
                                <ul class="footer-img">
                                    <li>
                                        <a href="#"><img alt="" src="img/instagram/instagram1.jpg"> </a>
                                    </li>
                                    <li><a href="#"><img alt="" src="img/instagram/instagram2.jpg"></a></li>
                                    <li><a href="#"><img alt="" src="img/instagram/instagram3.jpg"></a></li>
                                    <li><a href="#"><img alt="" src="img/instagram/instagram4.jpg"></a></li>
                                    <li><a href="#"><img alt="" src="img/instagram/instagram5.jpg"></a></li>
                                    <li><a href="#"><img alt="" src="img/instagram/instagram6.jpg"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper pl-55 mb-30">
                                <div class="footer-title">
                                    <h4>Contact Us</h4>
                                </div>
                                <ul class="contact-link">
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="far fa-map-marked"></i>
                                        </div>
                                        <div class="contact-address-text">
                                            <h4>Address</h4>
                                            <p>House - 4, Rosd - 7, East City. <br> Sydney. Australya.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="far fa-phone"></i>
                                        </div>
                                        <div class="contact-address-text">
                                            <h4>phone Us</h4>
                                            <p>+821 (2365) 456 90</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="far fa-envelope"></i>
                                        </div>
                                        <div class="contact-address-text">
                                            <h4>Email Us</h4>
                                            <p><a href="https://www.devsnews.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fa898f8a8a95888eba9d979b9396d4999597">[email&#160;protected]</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom pt-20 pb-20 mt-55">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="copyright">
                                    <p> Copyright <i class="far fa-copyright"></i> <a href="#">Bazna.</a> All Right Reserved. Design By <a href="#">BDevs</a></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12">
                                <ul class="footer-bottom-link text-center text-lg-right">
                                    <li><a href="#">Setting</a></li>
                                    <li><a href="#">Privacy & Policy</a></li>
                                    <li><a href="#">Need Helps?</a></li>
                                    <li><a href="#">Menu</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->