{% load static %}

<!-- header-start -->
		<header>
			<div id="sticky-header" class="main-menu-area black-menu">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-3 d-flex align-items-center">
                            <div class="logo">
                                <a href="{% url "core:home" %}"><img src="{% static "img/logo/athma_logo.png" %}" alt="" style="width: 60px;" /></a>
                            </div>
						</div>
						<div class="col-xl-9 col-lg-9 col-md-9">
                            <div class="search-right">
                                <div class="search-icon d-none d-md-none d-lg-block">
                                    <a href="#" data-toggle="modal" data-target="#search-modal"><i class="far fa-search"></i></a>
                                </div>
                            </div>
                            <div class="main-menu text-right">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li ><a href="{% url "core:home" %}">home</a>
                                        </li>
                                        <li><a href="{% url "core:about" %}">about</a> </li>
                                        <li><a href="">Athma Production</a>
                                            <ul class="sub-menu text-left">
                                                <li><a href="{% url "core:digital_academy" %}">Digital Academy</a></li>
                                                <li><a href="{% url "core:design_agency" %}">Design Agency</a></li>
                                                <li><a href="{% url "core:creation" %}">Creation</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url "core:works" %}">Our Works</a>
                                            {% comment %} <ul class="sub-menu text-left">
                                                <li><a href="{% url "core:works" %}">All</a></li>
                                                <li><a href="{% url "core:posters" %}">Posters</a></li>
                                                <li><a href="{% url "core:videos" %}">Videos</a></li>
                                            </ul> {% endcomment %}
                                        </li>
                                        
                                        <li><a href="{% url "blog:blog" %}">blog</a></li>
                                        <li><a href="{% url "contact:contact" %}">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
						</div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
					</div>
				</div>
            </div>
		</header>
        <!-- header-start -->