{% extends 'web/base.html' %} {% load static %} {% block title %}Home{% endblock%}
{% block content %}
<section class="mt-8">
  <div class="container">
    {% for slider in sliders %}
    <div class="hero-slider">
      <div class="sliders">
            <div style="
                background: url('{{ slider.image.url }}') no-repeat;
                background-size: cover;
                border-radius: 0.5rem;
                background-position: center;
            ">
                <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center">
                    <span class="badge text-bg-warning">{{ slider.name }}</span>
    
                    <h2 class="text-dark display-5 fw-bold mt-4">
                       {{slider.sub_head}}
                    </h2>
                    <p class="lead">
                        {{slider.content}}
                    </p>
                    <a href="{% url 'web:shop' %}" class="btn btn-dark mt-3">Shop Now <i class="feather-icon icon-arrow-right ms-1"></i></a>
                </div>
            </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- Category Section Start-->
<section class="mb-lg-10 mt-lg-14 my-8">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-6">
        <!-- <h3 class="mb-0">Featured Categories</h3> -->
        <div>
          <!-- heading    -->
          <h3 class="align-items-center d-flex mb-0 h4">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers text-primary">
                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                <polyline points="2 17 12 22 22 17"></polyline>
                <polyline points="2 12 12 17 22 12"></polyline>
             </svg>
             <span class="ms-3">Shop by Categories</span>
          </h3>
       </div>
      </div>
    </div>
    <div class="category-slider">
  {% for category in categories %}
  <div class="item">
    <a href="{% url 'web:shop' %}?category={{ category.slug }}" class="text-decoration-none text-inherit">
      <div class="card card-product mb-lg-4">
        <div class="card-body text-center py-8">
          {% if category.image and category.image.url %}
            <img src="{{ category.image.url }}" alt="{{ category.name }}" class="mb-3 img-fluid" />
          {% else %}
            <img src="{% static 'images/default.jpg' %}" alt="Default Image" class="mb-3 img-fluid" />
          {% endif %}
          <div class="text-truncate">{{ category.name }}</div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

  </div>
</section>
<!-- Category Section End-->
<!-- offer  -->
<section>
  <div class="container">
    <div class="row">
      {% for offer in offers %}
      <div class="col-12 col-md-6 mb-3 mb-lg-0">
          <div>
              <div class="py-10 px-8 rounded" style="
                  background: url({{offer.image.url}}) no-repeat;
                  background-size: cover;
                  background-position: center;
              ">
                  <div>
                      <h3 class="fw-bold mb-1">{{ offer.title }}</h3>
                      <p class="mb-4">Get Upto <span class="fw-bold">{{ offer.offer }}%</span> Off</p>
                      <a href="{% url 'web:offered_product_list' offer_id=offer.id %}" class="btn btn-dark">Shop Now</a>
                    </div>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- end offer -->
<!-- Popular Products Start-->
<section class="my-lg-14 my-8">
  <div class="container">
    
    <div class="d-flex">
      <div class="mt-1">
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag text-primary">
            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <path d="M16 10a4 4 0 0 1-8 0"></path>
         </svg>
      </div>
      <div class="ms-3">
         <h3 class="mb-0">Best Selling Products</h3>
         <p class="mb-2">Find the bestseller products in your area with discount.</p>
      </div>
   </div>
    <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
      {% for product in popular_products %}
      <div class="col">
        <div class="card card-product">
          <div class="card-body">
            <div class="text-center position-relative">
              <!-- Add the badge for popular products -->
              <div class="position-absolute top-0 start-0">
                <span class="badge bg-danger">Popular</span>
              </div>
              <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="mb-3 img-fluid" />
              </a>

              <div class="card-product-action">
                <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal-popular_products-{{product.slug}}">
                  <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i>
                </a>
                <a href="{% url 'order:add_to_wishlist' product_id=product.id %}" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Wishlist">
                  <i class="bi bi-heart"></i>
                </a>
              </div>
            </div>
            <div class="text-small mb-1">
              <a href="" class="text-decoration-none text-muted"><small>{{ product.category }}</small></a>
            </div>
            <h2 class="fs-6">
              <a href="{{ product.get_absolute_url }}" class="text-inherit text-decoration-none">{{ product.name }}</a>
            </h2>
            <div>
              <small class="text-warning">
                {% for star in "12345" %}
                    {% if star|add:0 <= product.rating %}
                    <i class="bi bi-star-fill"></i>
                    {% else %}
                    <i class="bi bi-star"></i>
                    {% endif %}
                {% endfor %}
              </small>
              <!-- <span class="text-muted small">{{ product.rating }} </span> -->
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div>
                <span class="text-dark">₹{{ product.get_sale_price|floatformat:0 }}</span>
                <span class="text-decoration-line-through text-muted">₹{{ product.get_regular_price|floatformat:0 }}</span>
              </div>
              <div>
                {% comment %} <a href="{% url 'order:add_to_cart' pk=product.id %}?variant=" id="add-to-cart-link" class="btn btn-primary btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-plus">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg>
                  Add</a> {% endcomment %}
                  <a href="#" 
   class="btn btn-primary btn-sm whatsapp-link" 
   data-name="{{ product.name }}" 
   data-price="{{ product.get_sale_price }}"
   data-url="{{ request.scheme }}://{{ request.get_host }}{{ product.get_absolute_url }}"
   data-products="{{ request.scheme }}://{{ request.get_host }}/products/">
  
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" 
       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
       stroke-linejoin="round" class="feather feather-plus">
    <line x1="12" y1="5" x2="12" y2="19"></line>
    <line x1="5" y1="12" x2="19" y2="12"></line>
  </svg>
  Add
</a>

              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Popular Products End-->
<!-- /// -->
<section class="my-lg-14 my-8">
  <div class="container">
  <div class="row justify-content-center justify-content-lg-between text-center">
    <div class="col-12 col-sm-6 col-lg-3 mb-4">
      <div class="mb-3">
        <img src="{% static 'web/images/icons/kitchen-utensils.svg' %}" alt="Wide Range" style="width: 50px; height: 50px;" class="mx-auto" />
      </div>
      <h3 class="h5 mb-2">Premium Kitchen Tools</h3>
      <p class="mb-0">
        Explore a curated collection of top-quality kitchen tools and accessories that blend style with functionality.
      </p>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 mb-4">
      <div class="mb-3">
        <img src="{% static 'web/images/icons/delivery-truck.svg' %}" alt="Fast Delivery" style="width: 50px; height: 50px;" class="mx-auto" />
      </div>
      <h3 class="h5 mb-2">Fast & Reliable Delivery</h3>
      <p class="mb-0">
        Get your kitchen essentials delivered quickly and securely, right to your doorstep, across major cities.
      </p>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 mb-4">
      <div class="mb-3">
        <img src="{% static 'web/images/icons/qualityy.svg' %}" alt="Top Quality" style="width: 50px; height: 50px;" class="mx-auto" />
      </div>
      <h3 class="h5 mb-2">Assured Quality</h3>
      <p class="mb-0">
        We partner with trusted brands to ensure all our products meet the highest standards of durability and performance.
      </p>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 mb-4">
      <div class="mb-3">
        <img src="{% static 'web/images/icons/return.svg' %}" alt="Easy Returns" style="width: 50px; height: 50px;" class="mx-auto" />
      </div>
      <h3 class="h5 mb-2">Hassle-Free Returns</h3>
      <p class="mb-0">
        Changed your mind? Easily return any unused item within 7 days as per our <a href="#!">return policy</a>.
      </p>
    </div>
  </div>
</div>

</section>
<!-- end/// -->


<script>
  document.querySelectorAll('.whatsapp-link').forEach(link => {
    link.addEventListener('click', function (e) {
      e.preventDefault();

      const name = this.dataset.name;
      const price = this.dataset.price;
      const productUrl = this.dataset.url;
      const productsPageUrl = this.dataset.products;
      const phone = '917510444222'; // Client’s WhatsApp number

      let message = `I'm interested in buying *${name}* for ₹${price}.`;

      if (productUrl) {
        message += `\n\nProduct Link:\n${productUrl}`;
      }

      if (productsPageUrl) {
        message += `\n\nSee more products:\n${productsPageUrl}`;
      }

      const whatsappUrl = `https://wa.me/${phone}?text=${encodeURIComponent(message)}`;
      window.open(whatsappUrl, '_blank');
    });
  });
</script>

{% endblock %}

{% block modal %}

{% endblock %}