{% extends 'web/base.html' %} {% load static %} {% block title %}Privacy Policy{% endblock%}
{% block content %}
<section class="my-lg-14 my-8">
    <!-- container -->
    <div class="container">
        <div class="row">
            <!-- col -->
            <div class="offset-lg-1 col-lg-9 col-12">
                <div class="mb-8">
                    <!-- heading -->
                    <h1 class="text-center">Cabvera Privacy Policy</h1>
                   
                </div>
                <div>
                    
                    <h3>Introduction</h3>
                    <p>Thank you for using Cabvera Pickles! This Privacy Policy describes how we collect, use, and protect your personal information when you visit our website, use our services, or interact with us in any way. Your privacy is important to us, and we are committed to safeguarding your information.</p>
            
                    <h3>Information We Collect</h3>
                    <p>We collect various types of information, including:</p>
                    <ul>
                        <li>Your contact information, such as your name, address, email, and phone number.</li>
                        <li>Payment and order information for purchases you make on our website.</li>
                        <li>Account information, including usernames and passwords for your Cabvera Pickles account.</li>
                        <li>Information related to your interactions with our website and services.</li>
                    </ul>
            
                    <h3>How We Use Your Information</h3>
                    <p>We use your personal information for purposes such as:</p>
                    <ul>
                        <li>Providing and delivering our products and services.</li>
                        <li>Communicating with you about your orders and account.</li>
                        <li>Improving and customizing your experience with Cabvera Pickles.</li>
                    </ul>
            
                    <!-- Add more sections as needed -->
            
                    <h3>Contact Us</h3>
                    <p>If you have any questions about our privacy practices or this Privacy Policy, please contact us at:</p>
                    <address>
                        Cabvera Pickles<br>
                        Address: [Your Address]<br>
                        Email: [Your Email]<br>
                        Phone: [Your Phone Number]<br>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}