{% extends 'web/base.html' %} {% load static %} {% block title %}Refund Policy{% endblock%}
{% block content %}
<section class="my-lg-14 my-8">
    <!-- container -->
    <div class="container">
        <div class="row">
            <!-- col -->
            <div class="offset-lg-1 col-lg-9 col-12">
                <div class="mb-8">
                    <!-- heading -->
                    <h1 class="text-center">Return Policy - Odadoz</h1>

                </div>
                <div>
                    <p>We have a 14-day return policy, which means you have 14 days after receiving your item to request
                        a return.</p>

                    <h3>Eligibility for a Return</h3>
                    <p>To be eligible for a return, your item must meet the following criteria:</p>
                    <ul>
                        <li>It must be in the same condition that you received it.</li>
                        <li>It should be unworn or unused.</li>
                        <li>Include any tags that came with the item.</li>
                        <li>Be in its original packaging.</li>
                        <li>You'll also need to provide the receipt or proof of purchase.</li>
                    </ul>

                    <p>To start a return, please contact us at <a
                            href="mailto:Odadoz@example.com">Odadoz@example.com</a>. Please note that returns should
                        be sent to the following address:</p>
                    <address>
                        11/562, Chungam, Areacode Road<br>
                        Kondotty, 673638<br>
                        Malappuram, Kerala
                    </address>

                    <p>If your return is accepted, we'll send you a return shipping label and provide instructions on
                        how and where to send your package. Items sent back to us without first requesting a return will
                        not be accepted.</p>

                    <p>If you have any questions or concerns about your return, please contact us at <a
                            href="mailto:Odadoz@example.com">Odadoz@example.com</a>.</p>

                    <h3>Damages and Issues</h3>
                    <p>Please inspect your order upon reception and contact us immediately if the item is defective,
                        damaged, or if you receive the wrong item, so that we can evaluate the issue and make it right.
                    </p>

                    <h3>Exceptions / Non-Returnable Items</h3>
                    <p>Certain types of items cannot be returned, including:</p>
                    <ul>
                        <li>Perishable goods (such as food, flowers, or plants)</li>
                        <li>Custom products (such as special orders or personalized items)</li>
                        <li>Personal care goods (such as beauty products)</li>
                        <li>Hazardous materials, flammable liquids, or gases</li>
                    </ul>

                    <p>Unfortunately, we cannot accept returns on sale items or gift cards.</p>

                    <h3>Exchanges</h3>
                    <p>The fastest way to get the item you want is to return the item you have. Once the return is
                        accepted, make a separate purchase for the new item.</p>

                    <h3>European Union 14 Day Cooling Off Period</h3>
                    <p>If the merchandise is being shipped into the European Union, you have the right to cancel or
                        return your order within 14 days, for any reason and without a justification. As mentioned
                        above, your item must meet the same conditions as for regular returns.</p>

                    <h3>Refunds</h3>
                    <p>We will notify you once we've received and inspected your return and inform you if the refund has
                        been approved or not. If approved, you'll be automatically refunded to your original payment
                        method within 10 business days. Please keep in mind that it may take some time for your bank or
                        credit card company to process and post the refund as well.</p>

                    <p>If more than 15 business days have passed since we approved your return, please contact us at <a
                            href="mailto:Odadoz@example.com">Odadoz@example.com</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}