{% extends 'web/base.html' %} {% load static %} {% block title %}Terms & Conditions{% endblock%}
{% block content %}
<section class="my-lg-14 my-8">
    <!-- container -->
    <div class="container">
        <div class="row">
            <!-- col -->
            <div class="offset-lg-1 col-lg-9 col-12">
                <div class="mb-8">
                    <!-- heading -->
                    <h1 class="text-center">Terms and Conditions - Odadoz</h1>

                </div>
                <div>
                    <p>Welcome to Odadoz. Please read these terms and conditions carefully before using our website or
                        making a purchase. By accessing or using our website, you agree to comply with and be bound by
                        the following terms and conditions:</p>

                    <h3>1. Acceptance of Terms</h3>
                    <p>By using our website, you agree to these terms and conditions, which may be updated or revised
                        from time to time. It is your responsibility to review this page periodically for changes.</p>

                    <h3>2. Products and Services</h3>
                    <p>Odadoz offers organic and food products for sale on our website. Product descriptions, prices,
                        and availability are subject to change without notice. We make every effort to ensure the
                        accuracy of product information, but we do not warrant that product descriptions or other
                        content on the site are error-free.</p>

                    <h3>3. Ordering and Payment</h3>
                    <p>When you place an order on our website, you agree to provide accurate and complete information.
                        Payment is required at the time of purchase. We reserve the right to refuse or cancel any order
                        for any reason, including but not limited to product availability, errors in pricing, or
                        suspected fraud.</p>

                    <h3>4. Shipping and Delivery</h3>
                    <p>Our shipping and delivery terms are outlined in our Shipping Policy. Please review this policy
                        for information on order processing times, shipping rates, and other details related to the
                        delivery of your products.</p>

                    <h3>5. Returns and Refunds</h3>
                    <p>Our Returns and Refunds Policy outlines the procedures for returning products and seeking
                        refunds. Please review this policy to understand the conditions under which returns are
                        accepted.</p>

                    <h3>6. Privacy Policy</h3>
                    <p>Your use of our website is also governed by our Privacy Policy. By using our site, you consent to
                        the terms of our Privacy Policy.</p>

                    <h3>7. Intellectual Property</h3>
                    <p>All content on this website, including but not limited to text, images, logos, and graphics, is
                        the property of Odadoz and is protected by intellectual property laws. You may not use,
                        reproduce, or distribute our content without our express written permission.</p>

                    <h3>8. Limitation of Liability</h3>
                    <p>Odadoz is not liable for any direct, indirect, incidental, consequential, or punitive damages
                        arising from the use or inability to use our website or products.</p>

                    <h3>9. Governing Law</h3>
                    <p>These terms and conditions are governed by and construed in accordance with the laws of [Your
                        Jurisdiction]. Any disputes arising from these terms will be subject to the exclusive
                        jurisdiction of the courts in [Your Jurisdiction].</p>

                    <h3>10. Contact Information</h3>
                    <p>Questions about the Terms of Service should be sent to us at <a
                            href="mailto:Odadoz@example.com">Odadoz@example.com</a>. Our contact information is posted
                        below:</p>
                    <address>
                        Odadoz<br>
                        11/562, Chungam, Areacode Road<br>
                        Kondotty, 673638<br>
                        Malappuram, Kerala, India<br>
                        0483 1644 8468<br>
                        +918157865247
                    </address>

                    <p>By using our website and making a purchase, you acknowledge that you have read, understood, and
                        agreed to these terms and conditions. Odadoz reserves the right to update or modify these terms
                        at any time without prior notice. It is your responsibility to review the terms regularly to
                        stay informed of any changes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}