{% extends "core/base.html" %}

{% load static %}

{% block title %}Contact{% endblock title %}

{% block content %}
        {% include "partials/nav.html" %}
        <main>

            <div id="contact-map" class="contact-map">

            <div class="map-half">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3928.5415079792147!2d76.32180617503194!3d10.054640790053575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTDCsDAzJzE2LjciTiA3NsKwMTknMjcuOCJF!5e0!3m2!1sen!2sin!4v1748501148079!5m2!1sen!2sin" 
      width="100%" 
      height="100%" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <div class="map-half">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.5529093422865!2d75.9153433!3d10.9215432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7b124163b369d%3A0xa26e738c58b64151!2sAthma%20Designs!5e0!3m2!1sen!2sin!4v1748500745226!5m2!1sen!2sin" 
      width="100%" 
      height="100%" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

  
</div>


            <div class="contact-info-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="contact-info mb-30 text-start">
                    <h3>Kochi</h3>
                    <ul>
                        <li><i class="far fa-map-marked-alt"></i> <span>Opposite Polytechnic Collage, HMT Junction
                            Kalamassery, Kochi, Kerala 683503</span></li>
                        <li><i class="far fa-envelope-open"></i> <span><a href="#">info@athma.in</a></span></li>
                        <li><i class="far fa-phone"></i> <span>+91 91889 17727</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info mb-30 text-start">
                    <h3>Malappuram</h3>
                    <ul>
                        <li><i class="far fa-map-marked-alt"></i> <span>Kottathara Complex,<br> Naduvilangadi, Tirur,<br> Kerala 676101</span></li>
                        <li><i class="far fa-envelope-open"></i> <span><a href="#">info@athma.in</a></span></li>
                        <li><i class="far fa-phone"></i> <span>+91 91889 17729</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


            <div class="contact-form-area pt-100 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="about-wrapper mb-30 mr-0">
                                <div class="section-title">
                                    <span>Any Questions?</span>
                                    <h1>Let's Talk</h1>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiotam rem aperiam, eaque
                                    ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="contact-form">
                                <form id="contact-form" action="{% url 'contact:contact' %}" method="POST">
    {% csrf_token %}
    
    <div class="row">
        <div class="col-lg-6">
            <div class="form-box user-icon mb-30">
                {{ form.name }}
                {{ form.name.errors }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-box email-icon mb-30">
                {{ form.email }}
                {{ form.email.errors }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-box phone-icon mb-30">
                {{ form.phone }}
                {{ form.phone.errors }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-box subject-icon mb-30">
                {{ form.subject }}
                {{ form.subject.errors }}
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-box message-icon mb-30">
                {{ form.message }}
                {{ form.message.errors }}
            </div>
            <div class="contact-btn">
                <button class="btn btn-icon ml-0" type="submit">
                    Send Message <i class="far fa-long-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</form>
                                {% comment %} <p class="ajax-response"></p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- cta-area-start -->
            <div class="cta-area pt-125 pb-130" style="background-image:url({% static "img/bg/bg-23.jpg" %})">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 col-lg-10 offset-lg-1 offset-xl-1">
                            <div class="cta-info text-center">
                                <span>Join Our Team To Get Creative Service</span>
                                <h1>Don't Hesitate To Contact With Me. I'm always ready to meet you</h1>
                                <h2>Email Me: <a href="https://www.devsnews.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="abd8dedbdbc4d9dfc6ceebccc6cac2c785c8c4c6">[email&#160;protected]</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cta-area-end -->

        </main>

        

{% endblock content %}