{% extends "web/base.html" %}
{% load static %}
{% block content  %}
<meta name="product-id" content="{{ product.id }}">
        <!-- breadcrumb -->
        <div class="tf-breadcrumb">
            <div class="container">
                <div class="tf-breadcrumb-wrap d-flex justify-content-between flex-wrap align-items-center">
                    <div class="tf-breadcrumb-list">
                        <a href="{% url 'web:index' %}" class="text">Home</a>
                        <i class="icon icon-arrow-right"></i>
                        <a href="#" class="text">{{product.name}}</a>
                      
                    </div>
                    <div class="tf-breadcrumb-prev-next">
                        <a href="#" class="tf-breadcrumb-prev hover-tooltip center">
                            <i class="icon icon-arrow-left"></i>
                            <!-- <span class="tooltip">Cotton jersey top</span> -->
                        </a>
                        <a href="#" class="tf-breadcrumb-back hover-tooltip center">
                            <i class="icon icon-shop"></i>
                            <!-- <span class="tooltip">Back to Women</span> -->
                        </a>
                        <a href="#" class="tf-breadcrumb-next hover-tooltip center">
                            <i class="icon icon-arrow-right"></i>
                            <!-- <span class="tooltip">Cotton jersey top</span> -->
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /breadcrumb -->
        <!-- default -->
        <section class="flat-spacing-4 pt_0">
            <div class="tf-main-product section-image-zoom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tf-product-media-wrap sticky-top">
                                <div class="thumbs-slider">
                                    <!-- Thumbnails Slider -->
                                    <div dir="ltr" class="swiper tf-product-media-thumbs other-image-zoom" data-direction="vertical">
                                        <div class="swiper-wrapper stagger-wrap">
                                            {% for image in product.get_images %}
                                                <div class="swiper-slide stagger-item" data-color="beige">
                                                    <div class="item">
                                                        <img class="lazyload" data-src="{{ image.image.url }}" src="{{ image.image.url }}" alt="img-product">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <!-- Pagination for Thumbnails (if needed) -->
                                        <div class="swiper-pagination thumbs-pagination"></div>
                                    </div>
                        
                                    <!-- Main Gallery Slider -->
                                    <div dir="ltr" class="swiper tf-product-media-main" id="gallery-swiper-started">
                                        <div class="swiper-wrapper">
                                            {% for image in product.get_images %}
                                                <div class="swiper-slide" data-color="beige">
                                                    <a href="{{ image.image.url }}" target="_blank" class="item" data-pswp-width="770" data-pswp-height="1075">
                                                        <img class="tf-image-zoom lazyload" data-zoom="{{ image.image.url }}" data-src="{{ image.image.url }}" src="{{ image.image.url }}" alt="">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <!-- Navigation Buttons -->
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tf-product-info-wrap position-relative">
                                <div class="tf-product-info-list">
                                    <div class="tf-product-info-title">
                                        <h5><a class="link" href="#" id="product-name-{{ product.id }}">{{ product.name }}</a></h5>
                                    </div>
                                   
                                    <div class="tf-product-info-price">
                                        <div class="price-on-sale" id="price-on-sale-{{ product.id }}">{{ product.get_sale_price }}
                                        </div>
                                        <div class="compare-at-price" id="compare-at-price-{{ product.id }}">{{product.get_regular_price }}</div>
                                    </div>
                                   <div class="tf-product-description">
                                        <p>{{product.details|safe}}</p>
                                    </div>
                                    <div class="tf-product-info-variant-picker">
                                        <div class="variant-picker-item">
                                            <div class="variant-picker-label">
                                               
                                                Color: <span class="fw-6 variant-picker-label-value value-currentColor">{{product.color }}</span>
                                            </div>
                                            
                                        </div>
            
                                        <div class="variant-picker-item">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="variant-picker-label">
                                                    Size: <span class="fw-6 variant-picker-label-value size-label"
                                                        id="current-size-{{ product.id }}"></span>
                                                </div>
            
                                            </div>
                                            <div class="variant-picker-values">
                                                <input type="hidden" id="selected-size-product-id" name="product_id" value="">
                                                <div class="btn-group product-size m-0">
                                                    {% for item in product.get_sizes %}
                                                    <input type="radio" class="btn-check size-selector"
                                                        name="product_size-{{ product.id }}" value="{{ item.id }}"
                                                        id="btnradio{{ product.id }}{{ forloop.counter }}"
                                                        data-sale-price="{{ item.sale_price }}"
                                                        data-regular-price="{{ item.regular_price }}"
                                                        data-product-id="{{ product.id }}" {% if forloop.first %}checked{% endif %}>
                                                    <label class="btn btn-size" for="btnradio{{ product.id }}{{ forloop.counter }}">
                                                        {{ item.weight }} {{ item.unit }}
                                                    </label>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="tf-product-info-quantity">
                                        <div class="quantity-title fw-6">Quantity</div>
                                        <div class="wg-quantity">
                                            <span class="btn-quantity minus-btn">-</span>
                                            <input type="text" name="quantity" value="1" class="quantity__input">
                                            <span class="btn-quantity plus-btn">+</span>
                                        </div>
                                    </div>
                                    <div class="tf-product-info-buy-button">
                                        <form class="">
                                            <a href="javascript:void(0);"
                                                class="tf-btn btn-fill justify-content-center fw-6 fs-16 flex-grow-1 animate-hover-btn btn-add-to-cart cart-add-btn"
                                                data-product="{{ product.id }}"><span>Add to cart &nbsp;</span></a>
                                        </form>
                                    </div>
                                  
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </section>
      
        <!-- product -->
       
     
       

    </div>
  
   
</div>
</div>
</div>
</div>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script src="{% static 'web/js/product_detail.js' %}"></script>
<div id="cart-modal" style="">
{% include "web/includes/cart_modal.html" %}
</div>

<script src="{% static 'web/js/index.js' %}"></script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Get all category links
    const categoryLinks = document.querySelectorAll('.category-list a');
    
    // Get all product items
    const products = document.querySelectorAll('.product-list .card-product');
    
    // Add click event to each category link
    categoryLinks.forEach(link => {
        link.addEventListener('click', function() {
            // Get the selected category from the data-category attribute
            const selectedCategory = this.getAttribute('data-category');
            
            // Filter products based on selected category
            filterProductsByCategory(selectedCategory);

            // Optionally, highlight the active category
            categoryLinks.forEach(link => link.classList.remove('active'));
            this.classList.add('active');
        });
    });

    // Function to filter products based on category
    function filterProductsByCategory(categorySlug) {
        products.forEach(product => {
            const productCategory = product.getAttribute('data-category');
            
            if (categorySlug === 'all' || productCategory === categorySlug) {
                // Show product if category matches or 'all' is selected
                product.style.display = 'block';
            } else {
                // Hide product if category doesn't match
                product.style.display = 'none';
            }
        });
    }

    // Optionally, trigger filter based on default category on page load
    const defaultCategory = document.querySelector('.category-list a.active');
    if (defaultCategory) {
        filterProductsByCategory(defaultCategory.getAttribute('data-category'));
    }
});
</script>

<script>
document.querySelectorAll('.dropdown-item').forEach(item => {
    item.addEventListener('click', event => {
        event.preventDefault();
        
        // Update the button text to the selected filter
        const selectedFilter = event.target.getAttribute('data-value');
        const button = document.getElementById('dropdownMenuButton');
        button.textContent = event.target.textContent;

        // Get both product containers for each tab
        const productsContainers = document.querySelectorAll('.product-list');
        
        productsContainers.forEach(productsContainer => {
            const products = Array.from(productsContainer.getElementsByClassName('card-product'));

            let sortedProducts;
            if (selectedFilter === "latest") {
                sortedProducts = products.sort((a, b) => parseInt(b.dataset.item) - parseInt(a.dataset.item));
            } else if (selectedFilter === "low-to-high") {
                sortedProducts = products.sort((a, b) => parseFloat(a.dataset.price) - parseFloat(b.dataset.price));
            } else if (selectedFilter === "high-to-low") {
                sortedProducts = products.sort((a, b) => parseFloat(b.dataset.price) - parseFloat(a.dataset.price));
            }
        

            // Clear the container and append sorted products
            productsContainer.innerHTML = "";
            sortedProducts.forEach(product => productsContainer.appendChild(product));
        });
    });
});
</script>
<script>
const uniqueColors = new Set();
const colorItems = document.querySelectorAll('.list-color-item1');

colorItems.forEach(item => {
    const swatchValue = item.querySelector('.swatch-value1');
    const colorHex = swatchValue ? swatchValue.style.backgroundColor.trim() : null;

    // Check if the color already exists in the set
    if (colorHex && !uniqueColors.has(colorHex)) {
        uniqueColors.add(colorHex); // Add the unique color
    } else {
        // Hide duplicate color items
        item.style.display = "none";
    }
});

document.querySelectorAll('.list-color-item').forEach(item => {
    item.addEventListener('click', () => {
        const selectedColor = item.querySelector('.swatch-value').getAttribute('data-color').trim();

        if (!selectedColor) return; // Exit if no color is selected

        // Get all product cards
        const productCards = document.querySelectorAll('.card-product');

        productCards.forEach(card => {
            const productColors = card.getAttribute('data-color').split(' ');

            // Show or hide products based on color match
            if (productColors.includes(selectedColor)) {
                card.style.display = "block"; // Show the product
            } else {
                card.style.display = "none"; // Hide the product
            }
        });

        // Update active state for color selection
        document.querySelectorAll('.list-color-item').forEach(swatch => swatch.classList.remove('active'));
        item.classList.add('active');
    });
});
</script>


<script>
document.querySelectorAll('.list-brand-item').forEach(item => {
    item.addEventListener('click', () => {
        const selectedBrand = item.querySelector('.brand-name').textContent.trim();

        if (!selectedBrand) return; // Exit if no brand is selected

        // Get all product cards
        const productCards = document.querySelectorAll('.card-product');

        productCards.forEach(card => {
            // Get the brand(s) associated with the product
            const productBrands = card.getAttribute('data-brand').split(' ');

            // Show or hide products based on brand match
            if (productBrands.includes(selectedBrand)) {
                card.style.display = "block"; // Show the product
            } else {
                card.style.display = "none"; // Hide the product
            }
        });

        // Update active state for brand selection
        document.querySelectorAll('.list-brand-item').forEach(brand => brand.classList.remove('active'));
        item.classList.add('active');
    });
});
</script>
<script>
$(document).ready(function() {

    // Handle price range slider
    $(".price-range-slider").on("input", function() {
    let minPrice = parseFloat($(this).val());
    let maxPrice = parseFloat($(this).attr("max"));
    
    // Update price display
    $("#min-price").text(minPrice.toFixed(2));
    $("#max-price").text(maxPrice.toFixed(2));
    
    // Filter products based on price range
    filterProducts(minPrice, maxPrice);
    });
    
    // Function to filter products based on category and price range
    function filterProducts(minPrice = 0, maxPrice = 2000) {
    $(".isotope-item").each(function() {
    let productPrice = parseFloat($(this).data("price"));
    
    // Check if the product's price falls within the selected price range
    let showPrice = productPrice >= minPrice && productPrice <= maxPrice;
    
    // Show the product if both category and price match
    if (showPrice) {
    $(this).show();
    } else {
    $(this).hide();
            }
        });
        }
    });
    
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
// Function to handle size change
function handleSizeChange(event) {
    const selectedSize = event.target;
    const productId = selectedSize.getAttribute('data-product-id');
    const salePrice = selectedSize.getAttribute('data-sale-price');
    const regularPrice = selectedSize.getAttribute('data-regular-price');
    const salePriceElement = document.querySelector(`#price-on-sale-${productId}`);
    const regularPriceElement = document.querySelector(`#compare-at-price-${productId}`);
    const priceElement = document.querySelector(`#tf-qty-price-${productId}`);
    const sizeLabel = document.querySelector(`#current-size-${productId}`);

    // Ensure elements exist before attempting to update them
    if (salePriceElement) {
        salePriceElement.innerText = salePrice;
    } else {
        console.error(`Element with ID price-on-sale-${productId} not found.`);
    }

    if (regularPriceElement) {
        regularPriceElement.innerText = regularPrice;
    } else {
        console.error(`Element with ID compare-at-price-${productId} not found.`);
    }

    if (sizeLabel) {
        sizeLabel.innerText = selectedSize.nextElementSibling.innerText.trim();
    } else {
        console.error(`Element with ID current-size-${productId} not found.`);
    }

    if (priceElement) {
        priceElement.innerText = `$${salePrice}`;
    } else {
        console.error(`Element with ID tf-qty-price-${productId} not found.`);
    }
}

// Attach event listeners to modal show event
const modals = document.querySelectorAll('.modalDemo');
modals.forEach(modal => {
    modal.addEventListener('shown.bs.modal', function () {
        const productId = modal.getAttribute('id').split('_').pop();
        const sizeSelectors = modal.querySelectorAll(`.size-selector[name="product_size-${productId}"]`);
        
        sizeSelectors.forEach(selector => {
            selector.addEventListener('change', handleSizeChange);
        });
    });
});

// Handle add to cart button click
const addToCartButtons = document.querySelectorAll('.btn-add-to-cart');
addToCartButtons.forEach(button => {
    button.addEventListener('click', function(event) {
        const productId = this.getAttribute('data-product');
        const quantity = this.closest('.modal-content').querySelector('.quantity__input').value;
        const price = this.querySelector('.tf-qty-price').innerText;

        // Handle the add to cart logic here
        console.log(`Adding product ID: ${productId} to cart with quantity: ${quantity} and price: ${price}`);

      
    });
});
});


</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.all.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Initialize Thumbnail Slider
            var thumbsSwiper = new Swiper(".tf-product-media-thumbs", {
                spaceBetween: 10,
                slidesPerView: 4,
                direction: "vertical", // Default direction for larger screens
                freeMode: true,
                watchSlidesProgress: true,
                breakpoints: {
                    1200: {
                        direction: "vertical", // Vertical for screens above 1200px
                    },
                    0: {
                        direction: "horizontal", // Horizontal for screens below 1200px
                    },
                },
            });
        
            // Initialize Main Gallery Slider
            var gallerySwiper = new Swiper(".tf-product-media-main", {
                spaceBetween: 10,
                navigation: {
                    nextEl: ".thumbs-next",
                    prevEl: ".thumbs-prev",
                },
                thumbs: {
                    swiper: thumbsSwiper, // Link with thumbnails
                },
            });
        });
    </script>


    <script>
        // Update the price based on selected size
        document.querySelectorAll('.size-selector').forEach(function (radio) {
            radio.addEventListener('change', function () {
                // Get the selected size's sale and regular price
                const selectedSize = radio.nextElementSibling.textContent.trim();
                document.querySelector('.size-label').textContent = selectedSize;
                const salePrice = radio.getAttribute('data-sale-price');
                const regularPrice = radio.getAttribute('data-regular-price');
                
                // Update the price display
                document.getElementById('price-on-sale').textContent = salePrice;
                document.getElementById('compare-at-price').textContent = regularPrice;
            });
        });
    </script>
 {% endblock %}