{% extends "web/base.html" %}
{% load static %}
{% block content  %}
<link rel="stylesheet" href="{% static 'web/css/about.css' %}">
        <!-- page-title -->
        <div class="tf-page-title">
            <div class="container-full">
                <div class="heading text-center">Showrooms</div>
            </div>
        </div>
 
    <div class="makeup-section mb-40 ">
        <div class="container">
            <div class="makeup-top-item">
                <div class="row align-items-center justify-content-center g-0 gy-4 mt-2">
                 
                    <div class="col-lg-6">
                        <div class="makeup-content1">
                           
                         
                            <p>Today, KMT Silks has two showrooms, one in Perinthalmanna and the other in Kottakkal each with ample parking space. Our interiors have been tastefully done by ace designers making your time spent at KMT Silks, a matchless & memorable shopping experience. We believe that a talented workforce with an unwavering commitment to quality and customer satisfaction is the cornerstone of our success. We strive to inculcate a deep sense of camaraderie amongst our employees whereby they can thrive. We pass on several desirable traits and values to them thereby creating a culture that allows our employees to give their best in terms of high-quality customer services and operation. Our customer satisfaction policy enables our customers to readily forward their expectations, complaints, proposals and satisfaction to our showroom representatives as and when required.</p>

                            <p>KMT Silks, the largest clothing showroom in Malappuram, has sunk its roots into the hearts of the customers so deep that it is one of the most trusted brands in Kerala today. Our very first showroom was opened in Perinthalmanna in 1996 which continues its quality with dignity even after three glorious decades of dedicated service. Be it in the case of products, services or shopping experience, KMT Silks has always been inclined to provide the customers with the best in all kinds.

                            </p>
                          
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="makeup-img hover-img">
                                    <img src="{% static 'web/images/kmt-branch1.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="makeup-img hover-img">
                                    <img src="{% static 'web/images/kmt-branch2.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <br><br>
    
    
    
    
        </div>
    </div>

    <section class="">
            <div class="container">
                <div class="row">
                    <!-- Branch 1 -->
                    <div class="col-md-6 mt-2">
                        <div class="card p-4 border-0 shadow-lg">
                            <div class="card-body">
                                <h5 class="mb-3">Perinthalmanna Store</h5>
                                <div class="mb-3">
                                    <p class="mb-1"><strong>Address</strong></p>
                                    <p>KMT Silks, Kozhikkode - Palakkad Bypass Rd, opposite Ksrtc Bus Stand, Shanti Nagar, Perinthalmanna, Kerala 679322</p>
                                </div>
                                <div class="mb-3">
                                    <p class="mb-1"><strong>Phone</strong></p>
                                    <p>Lan : 04933-226893 <br> Mobile : +91 9207005600 </p>
                                </div>
                                <div class="mb-3">
                                    <p class="mb-1"><strong>Email</strong></p>
                                    <p>kmtsilks@gmail.com</p>
                                </div>
                                <div class="mb-3">
                                    <iframe 
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27785.134681146388!2d76.20850953476561!3d10.974905300000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7cdac8012e9bb%3A0x8a3904a3d1e93c1c!2sKMT%20Silks%2C%20Perinthalmanna!5e1!3m2!1sen!2sin!4v1738729922383!5m2!1sen!2sin"
                                        width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy">
                                    </iframe>
                                </div>
                              
                            </div>
                        </div>
                    </div>
        
                    <!-- Branch 2 -->
                    <div class="col-md-6 mt-2">
                        <div class="card p-4 border-0 shadow-lg">
                            <div class="card-body">
                                <h5 class="mb-3">Kottakkal Store</h5>
                                <div class="mb-3">
                                    <p class="mb-1"><strong>Address</strong></p>
                                    <p>Near Ayurveda College Calicut Road, Malappuram Edarikkode, Post, Kottakkal, Kerala 676501</p>
                                </div>
                                <div class="mb-3">
                                    <p class="mb-1"><strong>Phone</strong></p>
                                    <p>Lan : 0483-2962266<br> Mobile : +91 7994440408</p>
                                </div>
                                <div class="mb-3">
                                    <p class="mb-1"><strong>Email</strong></p>
                                    <p>kmtsilks@gmail.com</p>
                                </div>
                                <div class="mb-3">
                                    <iframe 
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3472.881967860433!2d75.98311687441546!3d10.996989655087887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7b3f3cef6ed43%3A0x21967c4ae71277dd!2sKMT%20Silks%20Kottakkal!5e1!3m2!1sen!2sin!4v1738730124137!5m2!1sen!2sin"
                                        width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy">
                                    </iframe>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>  
                
        
            </div>
        </section>
    

{% endblock %}
   

  