{% extends "core/base.html" %}

{% load static %}

{% block title %}Our Posters{% endblock title %}

{% block content %}

        {% include "partials/nav.html" %}


        <main>

            <!-- breadcrumb-area-start -->
            <div class="breadcrumb-area pt-260 pb-265" style="background-image:url({% static "img/bg/bg-13.jpg" %})">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-text text-center">
                                <h1>Our Videos</h1>
                                <ul class="breadcrumb-menu">
                                    <li><a href="index.html">home</a></li>
                                    <li><span>Videos</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->

            <!-- gallery-area-start -->
            <div class="gallery-area pt-130 pr-55 pl-55 pb-130">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                            <div class="gallery-wrapper">
                                <div class="gallery-2-img">
                                    <img src="{% static "img/gallery/gallery/01.jpg" %}" alt="">
                                    <div class="gallery-video">
                                        <a class="popup-video" href="https://www.youtube.com/watch?v=LTXD6XZXc3U"><i
                                                class="fas fa-play"></i></a>
                                    </div>
                                    <div class="gallery-content">
                                        <h1><a href="#">Jump City</a></h1>
                                        <span>Awards Winning Movie</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                            <div class="gallery-wrapper">
                                <div class="gallery-2-img">
                                    <img src="{% static "img/gallery/gallery/02.jpg" %}" alt="">
                                    <div class="gallery-video">
                                        <a class="popup-video" href="https://www.youtube.com/watch?v=LTXD6XZXc3U"><i
                                                class="fas fa-play"></i></a>
                                    </div>
                                    <div class="gallery-content">
                                        <h1><a href="#">Superman</a></h1>
                                        <span>Awards Winning Movie</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                            <div class="gallery-wrapper">
                                <div class="gallery-2-img">
                                    <img src="{% static "img/gallery/gallery/03.jpg" %}" alt="">
                                    <div class="gallery-video">
                                        <a class="popup-video" href="https://www.youtube.com/watch?v=LTXD6XZXc3U"><i
                                                class="fas fa-play"></i></a>
                                    </div>
                                    <div class="gallery-content">
                                        <h1><a href="#">Meet Together</a></h1>
                                        <span>Awards Winning Movie</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                            <div class="gallery-wrapper">
                                <div class="gallery-2-img">
                                    <img src="{% static "img/gallery/gallery/04.jpg" %}" alt="">
                                    <div class="gallery-video">
                                        <a class="popup-video" href="https://www.youtube.com/watch?v=LTXD6XZXc3U"><i
                                                class="fas fa-play"></i></a>
                                    </div>
                                    <div class="gallery-content">
                                        <h1><a href="#">Superman</a></h1>
                                        <span>Awards Winning Movie</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                            <div class="gallery-wrapper">
                                <div class="gallery-2-img">
                                    <img src="{% static "img/gallery/gallery/05.jpg" %}" alt="">
                                    <div class="gallery-video">
                                        <a class="popup-video" href="https://www.youtube.com/watch?v=LTXD6XZXc3U"><i
                                                class="fas fa-play"></i></a>
                                    </div>
                                    <div class="gallery-content">
                                        <h1><a href="#">Superman</a></h1>
                                        <span>Awards Winning Movie</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                            <div class="gallery-wrapper">
                                <div class="gallery-2-img">
                                    <img src="{% static "img/gallery/gallery/06.jpg" %}" alt="">
                                    <div class="gallery-video">
                                        <a class="popup-video" href="https://www.youtube.com/watch?v=LTXD6XZXc3U"><i
                                                class="fas fa-play"></i></a>
                                    </div>
                                    <div class="gallery-content">
                                        <h1><a href="#">A Sad Night</a></h1>
                                        <span>Awards Winning Movie</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                            <div class="gallery-wrapper">
                                <div class="gallery-2-img">
                                    <img src="{% static "img/gallery/gallery/07.jpg" %}" alt="">
                                    <div class="gallery-video">
                                        <a class="popup-video" href="https://www.youtube.com/watch?v=LTXD6XZXc3U"><i
                                                class="fas fa-play"></i></a>
                                    </div>
                                    <div class="gallery-content">
                                        <h1><a href="#">Animation Movie</a></h1>
                                        <span>Awards Winning Movie</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                            <div class="gallery-wrapper">
                                <div class="gallery-2-img">
                                    <img src="{% static "img/gallery/gallery/08.jpg" %}" alt="">
                                    <div class="gallery-video">
                                        <a class="popup-video" href="https://www.youtube.com/watch?v=LTXD6XZXc3U"><i
                                                class="fas fa-play"></i></a>
                                    </div>
                                    <div class="gallery-content">
                                        <h1><a href="#">Animation Movie</a></h1>
                                        <span>Awards Winning Movie</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="gallery-button text-center mt-50">
                                <a class="btn" href="#">View All Work <i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-area-end -->

            <!-- brand-area-start -->
            <div class="brand-area  pb-130">
                <div class="container">
                    <div class="row">
                        <div class="brand-2-active owl-carousel">
                            <div class="col-xl-12">
                                <div class="brand-img text-center">
                                    <img src="{% static "img/brand/brand-1.png" %}" alt="" />
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="brand-img text-center">
                                    <img src="{% static "img/brand/brand-2.png" %}" alt="" />
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="brand-img text-center">
                                    <img src="{% static "img/brand/brand-3.png" %}" alt="" />
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="brand-img text-center">
                                    <img src="{% static "img/brand/brand-4.png" %}" alt="" />
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="brand-img text-center">
                                    <img src="{% static "img/brand/brand-5.png" %}" alt="" />
                                </div>
                            </div>
                            <div class="col-xl-12 text-center">
                                <div class="brand-img">
                                    <img src="{% static "img/brand/brand-6.png" %}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- brand-area-end -->

            <!-- cta-area-start -->
            <div class="cta-area pt-90 pb-60 grey-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-8">
                            <div class="single-cta mb-30">
                                <div class="cta-content">
                                    <h1>Do You Have Any Question?</h1>
                                    <p>But we must ipsum dolor sit consectetur adipisicing eiusmod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4">
                            <div class="cta-2-button mb-30 text-md-right">
                                <a class="btn" href="#">Contact Us <i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cta-area-end -->

        </main>


{% endblock content %}




