{% load static %}

<header class="header">
    <div class="container navbar">
        <div class="logo">Helping Hands Charity</div>
        <ul class="nav-links">
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "about" %}">About Us</a></li>
            <li><a href="{% url "programs" %}">Our Programs</a></li>
            <li><a href="{% url "joinus" %}">Join Us</a></li>
            <li><a href="{% url "joblisting" %}">Job Listings</a></li>
            <li><a href="{% url "contact" %}">Contact</a></li>
        </ul>
        <div class="auth-links">
            <a href="{% url "login" %}" class="auth-btn login-btn">Log In</a>
            <a href="{% url "signup" %}" class="auth-btn signup-btn">Sign Up</a>
        </div>
        <div class="mobile-menu-btn">☰</div>
    </div>
</header>