{% extends "base.html" %}

{% block content %}


<div class="tf-slideshow slider-effect-fade position-relative">
    <div class="swiper tf-sw-slideshow" data-preview="1" data-tablet="1" data-mobile="1" data-centered="false" data-space="0" data-loop="true" data-auto-play="false" data-delay="0" data-speed="1000">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="wrap-slider">
                    <img src="../static/images/slider/fashion-slideshow-01.jpg" alt="fashion-slideshow">
                    <div class="box-content">
                        <div class="container">
                            <h1 class="fade-item fade-item-1">Glamorous<br>Glam</h1>
                            <p class="fade-item fade-item-2">From casual to formal, we've got you covered</p>
                            <a href="shop-default.html" class="fade-item fade-item-3 tf-btn btn-fill animate-hover-btn btn-xl radius-3"><span>Shop collection</span><i class="icon icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="wrap-slider">
                    <img src="../static/images/slider/fashion-slideshow-02.jpg" alt="fashion-slideshow">
                    <div class="box-content">
                        <div class="container">
                            <h1 class="fade-item fade-item-1">Simple <br class="md-hidden">Style</h1>
                            <p class="fade-item fade-item-2">From casual to formal, we've got you covered</p>
                            <a href="shop-default.html" class="fade-item fade-item-3 tf-btn btn-fill animate-hover-btn btn-xl radius-3"><span>Shop collection</span><i class="icon icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="wrap-slider">
                    <img src="../static/images/slider/fashion-slideshow-03.jpg" alt="fashion-slideshow">
                    <div class="box-content">
                        <div class="container">
                            <h1 class="fade-item fade-item-1">Glamorous<br>Glam</h1>
                            <p class="fade-item fade-item-2">From casual to formal, we've got you covered</p>
                            <a href="shop-default.html" class="fade-item fade-item-3 tf-btn btn-fill animate-hover-btn btn-xl radius-3"><span>Shop collection</span><i class="icon icon-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-pagination">
        <div class="container">
            <div class="sw-dots sw-pagination-slider justify-content-center"></div>
        </div>
    </div>
</div>
<!-- /Slider -->
<!-- Marquee -->
<div class="tf-marquee bg_yellow-2">
    <div class="wrap-marquee">
        <div class="marquee-item">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="" width="15" height="20" viewBox="0 0 15 20"><path d="M14.5833 8H8.61742L9.94318 0L0 12H5.96591L4.64015 20L14.5833 8"></path></svg>
            </div>
            <p class="text">Spring Clearance Event: Save Up to 70%</p>
        </div>
        <div class="marquee-item">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="" width="15" height="20" viewBox="0 0 15 20"><path d="M14.5833 8H8.61742L9.94318 0L0 12H5.96591L4.64015 20L14.5833 8"></path></svg>
            </div>
            <p class="text">Spring Clearance Event: Save Up to 70%</p>
        </div>
        <div class="marquee-item">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="" width="15" height="20" viewBox="0 0 15 20"><path d="M14.5833 8H8.61742L9.94318 0L0 12H5.96591L4.64015 20L14.5833 8"></path></svg>
            </div>
            <p class="text">Spring Clearance Event: Save Up to 70%</p>
        </div>
        <div class="marquee-item">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="" width="15" height="20" viewBox="0 0 15 20"><path d="M14.5833 8H8.61742L9.94318 0L0 12H5.96591L4.64015 20L14.5833 8"></path></svg>
            </div>
            <p class="text">Spring Clearance Event: Save Up to 70%</p>
        </div>
        <div class="marquee-item">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="" width="15" height="20" viewBox="0 0 15 20"><path d="M14.5833 8H8.61742L9.94318 0L0 12H5.96591L4.64015 20L14.5833 8"></path></svg>
            </div>
            <p class="text">Spring Clearance Event: Save Up to 70%</p>
        </div>
        <div class="marquee-item">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="" width="15" height="20" viewBox="0 0 15 20"><path d="M14.5833 8H8.61742L9.94318 0L0 12H5.96591L4.64015 20L14.5833 8"></path></svg>
            </div>
            <p class="text">Spring Clearance Event: Save Up to 70%</p>
        </div>
        <div class="marquee-item">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="" width="15" height="20" viewBox="0 0 15 20"><path d="M14.5833 8H8.61742L9.94318 0L0 12H5.96591L4.64015 20L14.5833 8"></path></svg>
            </div>
            <p class="text">Spring Clearance Event: Save Up to 70%</p>
        </div>
        <div class="marquee-item">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="" width="15" height="20" viewBox="0 0 15 20"><path d="M14.5833 8H8.61742L9.94318 0L0 12H5.96591L4.64015 20L14.5833 8"></path></svg>
            </div>
            <p class="text">Spring Clearance Event: Save Up to 70%</p>
        </div>
        <div class="marquee-item">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="" width="15" height="20" viewBox="0 0 15 20"><path d="M14.5833 8H8.61742L9.94318 0L0 12H5.96591L4.64015 20L14.5833 8"></path></svg>
            </div>
            <p class="text">Spring Clearance Event: Save Up to 70%</p>
        </div>
        <div class="marquee-item">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="" width="15" height="20" viewBox="0 0 15 20"><path d="M14.5833 8H8.61742L9.94318 0L0 12H5.96591L4.64015 20L14.5833 8"></path></svg>
            </div>
            <p class="text">Spring Clearance Event: Save Up to 70%</p>
        </div>
    </div>
              
</div>
<!-- /Marquee -->
 {% include "homepage/categories.html" %}
 {% include "homepage/bestseller.html" %}
 {% include "homepage/shopgram.html" %}
 {% include "homepage/iconcards.html" %}

{% endblock content %}